@font-face {
  font-family: 'hobbiton_brushhahobbitonbrush';
  src: url('./fonts/hobbitonbrushhandhobbitonbrush-wyga-webfont.woff2') format('woff2'),
       url('./fonts/hobbitonbrushhandhobbitonbrush-wyga-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'hobbiton_brushhahobbitonbrush';
  color: bisque; 
}

img {
  height: 200px;
  border: bisque 1px solid;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  width: 250px;
  padding: 10px;
  margin: 10px;
  border: rgb(53, 41, 41) 3px solid;

  color: bisque;
}

#green {
  background-color: rgb(50, 69, 49);
}

#red {
  background-color: rgb(101, 48, 48);
}

#blue {
  background-color: rgb(46, 47, 87);
}

#brown {
  background-color: rgb(82, 59, 44);
}

#teal {
  background-color: rgb(50, 87, 86);
}

#purple {
  background-color: rgb(59, 42, 70);
}
